<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <option name="ALTERNATIVE_JRE_PATH" value="$USER_HOME$/.jdks/openjdk-19" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <module name="AppDenuncia" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="br.com.fiap.AppDenuncia.AppDenunciaApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>